{% extends 'base.html' %}

{% block content %}

<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<div id='map' style='width:100%; height: 700px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidGhlYmxhY2tibGF6ZXIiLCJhIjoiY2sydXprZnowMTVhbTNncHZiazd4Ym4zdiJ9.roJUPFMaDgxcsnzXc40Wqw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [ 74.2179,27.0238],
zoom: 6
});

var geojson = {
	type: 'FeaturesCollection',
	features: [
		{
      type: 'Feature',
			geometry: {
				type: 'Point',
        coordinates: [
          75.78064,
					26.98695
					
				]
			},
			properties: {
				description: "Bhagwati Udyog Cold Storages and Ice Factory(v.k.i)",
				title: "Rajasthan",
				address: "Plot No.C177, Rd Number 9, Vishwakarma Industrial Area, Harmada, Jaipur, Rajasthan 302013"
			}	
		},
		{
      type:'Feature',
			geometry: {
				type: "Point",
				coordinates: [
					
          75.613403,
          27.376645
				]
			},
			properties: {
				description: "Snowden ( A Multi Temperature Multi Chamber Cold Storage)",
				
				title: "Rajasthan",
				address: "SP-05, SKS RIICO Ind Area Extn., Reengus, Dist, 332404"
			}	
		},
		
		{
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
					
          76.274399,
          27.28061
				]
			},
			
			properties: {
				description: "Om Genral Store & Colddrinks",
				
				title: "Rajasthan",
				address: "RJ SH 55, Patti Beena, Rajasthan 301410"
			}	
		},
		
		{
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          77.300196,
          28.53793
				]
			},
			
			properties: {
				description: "Taluka agri vest cold storage",
				
				title: "Rajasthan",
				address: "plot no 5,terminal market,muhana, Jaipur, Rajasthan 302029"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          76.3289,
          26.5618
				]
			},
			
			properties: {
				description: "COLD STORAGE OP LALSOT",
				title: "Rajasthan",
				address: "National Highway 148, Lalsot, Rajasthan 303503"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          75.893039,
          27.032528
				]
			},
			
			properties: {
				description: "Shobaraj Cold Storage",
				
				title: "Rajasthan",
				address: "Factory E-41, Road No 1, Vki Area, Near Jyoti Petrol Pump, Road No 1, Jaipur, Rajasthan 302013"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          75.68499,
          26.48325

				]
			},
			
			properties: {
				description: "COLD STORAGE",		
				title: "Rajasthan",
				address: " Madhorajpura, Rajasthan 303006"
			}	
		},

    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          74.63126,
          25.34493

				]
			},
			
			properties: {
				description: "Garg's Cold Storage",		
				title: "Rajasthan",
				address: "New Krishi Upaj Mandi, Alwar, Rajasthan 301001"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          77.19622,
          28.68512
				]
			},
			
			properties: {
				description: "Agro Freeze Cold Storage",		
				title: "Rajasthan",
				address: "3, Grand Trunk Rd, Rajasthan Udyog Nagar, Delhi"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          73.87382,
          29.93175

				]
			},
			
			properties: {
				description: "Sri Ganganagar Cold Storage",		
				title: "Rajasthan",
				address: "New Dhan Mandi, Sri Ganganagar, Rajasthan 335001"
			}	
    },
    
    {
      type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
          73.023376,
          26.261398

				]
			},
			
			properties: {
				description: "Shiv Cold Storage",		
				title: "Rajasthan",
				address: "Behind Govt. Sec. School, Vishwakarma Nagar, Bhadwasiya, Jodhpur, Rajasthan 342006"
			}	
		}



		

	]
};




geojson.features.forEach(function(marker){
  var el = document.createElement('div');
  el.className='marker';

  new mapboxgl.Marker()
  .setLngLat(marker.geometry.coordinates)
  .addTo(map);

});


</script>


    {% endblock %}  